/*******************************
            Global    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
  background-color:#FFF;	
		
  font-family:"微软雅黑","Microsoft YaHei","Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
	
	
  word-wrap:break-word;
  behavior:url("csshover.htc");

  
}



/*******************************
          UI Overrides
*******************************/

.ui.header {
  font-family:"微软雅黑","Microsoft YaHei","Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.header,
h1,
h2 {
  font-weight: normal !important;
}

h1.ui.header {
  font-size: 3em;
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

.ui.button {
  font-weight: normal;
  text-decoration: none;
}

a {
  color: #ccc;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color:#34a3e3;
}

p a {
  font-weight: bold;
}
.product{
  border-bottom:1px solid #ddd;	
}
/*******************************
            Global
*******************************/


/****************************************************************************************************************************
            mydoin.end
			
	//.top_menu{		
	background-color: rgba(255, 255, 255, 1);
	background-color: #fff \9;}
****************************************************************************************************************************/
.first.ui.menu{
	background:transparent;
	position:fixed;
	z-index:100;
	width:100%;
	top:0;
}
.top-menu{
	background:transparent;
	padding: 0 0 0 0;
	width: 100%;
	text-align: center;
	line-height: 18px;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	border-bottom:1px solid #ddd;
	
}
.menu-list{
	padding: 8px 150px 5px 0;
	height: 34px;
	line-height: 32px;


}
.menu-logo{
    padding: 5px 0 7px 0;
	float:left;
    height: 34px;
}
.top-menu a{
	padding: 0 30px ;
	display: inline-block;
	color: #888888;
	font-size: 14px;
	line-height: 32px;
	vertical-align: top;
	-webkit-transition: color .2s linear;
	
}
a.active{
	color:#34a3e3;
}
a:hover {
    color:#34a3e3;
}

.ui.center.aligned.image{
	background-color:#FeFeFe;
	
}

/*************** homepage mousewheel ***************/
/*html{overflow:hidden;}*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{
	word-wrap:break-word;
	behavior:url("csshover.htc");
	overflow:hidden;
}
button,input,select,textarea{
	font:16px/1.5 "微软雅黑","Microsoft YaHei","Helvetica Neue", "Helvetica", "Arial", sans-serif;
	word-wrap:break-word;
	color:#565756;
}
/*h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:100%;}*/ 
ul,li{list-style:none;margin:0;padding:0;}
img{border:none;border:0;vertical-align:middle;}
a{text-decoration:none;outline:none;}
p{margin:0;padding:0;}
input,select,textarea{vertical-align:middle;*font-size:100%;}
input{margin:0;outline:none;padding:0;}
input::-ms-clear{display:none;}
.clearfix:after{
     content:".";       
     display:block;       
     height:0;       
     clear:both;       
     visibility:hidden;       

}
.clearfix{*zoom:1}

.ddw{position:absolute;left:0;top:0;color:#000;font-size:16px;z-index:9999;}
.ddw2{position:absolute;left:20px;top:0;color:#000;font-size:16px;z-index:9999;}
.num_box{position:relative;}
.num{color:#000;font-size:14px;width:100%;text-align:center;position:relative;}
.num_content{
	position:absolute;
	top:25%;
	left:70%;
	margin-left:-156px;
	line-height:200%;
	display:block;
	color:#4c4b39;
}
.num_content_1{
	position:absolute;
	top:13%;
	left:18%;
	margin-left:-156px;
	line-height:200%;
	display:block;
	text-align:left;
	color:#876950;
}
.num ul{width:100%;position:absolute;left:0;top:0;height:100%;}
.num ul li{float:left;height:100%;position:relative;}
#num_0{background-size:100% 100%;}
#num_1{background-size:100% 100%;}
#num_2{background-size:100% 100%;}
#num_3{background-size:100% 100%;}
#num_4{background-size:100% 100%;}
#num_5{background-size:100% 100%;}
#num_6{background-size:100% 100%;}

.fixed_r{position:absolute;right:10px;top:200px;z-index:1;}
.fixed_r li{
	width:30px;height:30px;
	background:transparent;
    background-image:url(../images/fengsensor/li.png);
    line-height:30px;
	color:#fff;
	font-size:16px;
	text-align:center;
	cursor:pointer;}
.fixed_r li.on{
	background-image:url(../images/fengsensor/lion.png);
}



/****************************************************************************************************************************
            mydoin.end
****************************************************************************************************************************/
.menu .right.menu > .mobile.item {
  display: none;
}

.ui.page.grid.segment {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color:#fff;
  color:#393939;	
}	


/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width : 768px) {
  .ui.page.grid.segment {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .menu .right.menu > .item {
    display: none;
  }

  .menu .right.menu > .mobile.item {
    display: block;
  }

  h1.ui.header {
    font-size: 1.5em;
  }

  .masthead.segment {
    -webkit-background-size: auto;
    background-size: auto;
  }

  .masthead.segment .information {
    margin-left: 190px;
  }

  .masthead.segment .image {
    bottom: -65px;
    width: 150px;
  }

  .masthead.segment .button {
    font-size: 1rem;
  }

  .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  .overview .divided.grid .header + p {
    min-height: 0px;
  }

  .masthead.segment .column {
    font-size: 0.7rem;
  }

  .masthead.segment .column p {
    display: none;
  }

  .selection.list .right.floated {
    display: none;
  }
}

@media only screen and (max-width : 1000px) {

}